/Sorting/Bubble/BuubleSort/nbproject/private/
/Sorting/Bubble/BuubleSort/build/
/Sorting/Insertion/JavaApplication9/nbproject/private/
/Sorting/Insertion/JavaApplication9/build/
/Sorting/Merge/MergeSort/nbproject/private/
/Sorting/Selection/JavaApplication11/nbproject/private/
/Sorting/Selection/JavaApplication11/build/
/Sorting/Merge/MergeSort/build/
/Sorting/Selection/JavaApplication11/dist/
/Sorting/Merge/MergeSort/dist/
/Sorting/Insertion/JavaApplication9/dist/
/Sorting/Bubble/BuubleSort/dist/
/Search/LinearSearch/LinearSearch/target/
/Search/BinarySearch/BinarySearch/target/
/Collections/ArrayList/ArrayList/target/
/Collections/Vector/Vector/target/
/Sorting/Bubble/BubbleSort/nbproject/private/
/Sorting/Insertion/InsertionSort/nbproject/private/
/Sorting/Selection/SelectionSort/nbproject/private/
/Collections/LinckedList/LinkedList/target/
/Collections/Queue/Queue/target/
/Collections/Stack/Stack/target/
/Collections/HashTable/HashTable/target/
/Patterns/AbstractFactory/AbstractFactory/target/
/Patterns/Builder/Builder/target/
/Patterns/Factory/Factory/target/
/Sorting/Selection/Singleton/target/
/Patterns/Prototype/Prototype/target/
/Other tasks/Reverse a number/ReverseNumber/target/
/Other tasks/Swap 2 numbers/Swap/target/
/Other tasks/Fibonaccy/Fibonacci/target/
/Other tasks/Sum of nummbers/SumOfNumbers/target/
/Recursion/Factorial/Factorial/target/