/Sorting/Bubble/BuubleSort/nbproject/private/
/Sorting/Bubble/BuubleSort/build/
/Sorting/Insertion/JavaApplication9/nbproject/private/
/Sorting/Insertion/JavaApplication9/build/
/Sorting/Merge/MergeSort/nbproject/private/
/Sorting/Selection/JavaApplication11/nbproject/private/
/Sorting/Selection/JavaApplication11/build/
/Sorting/Merge/MergeSort/build/
/Sorting/Selection/JavaApplication11/dist/
/Sorting/Merge/MergeSort/dist/
/Sorting/Insertion/JavaApplication9/dist/
/Sorting/Bubble/BuubleSort/dist/
/Search/LinearSearch/LinearSearch/target/